# Templates:
# ansible/playbooks/jenkins/templates/basic-security.groovy.j2
#!groovy
import jenkins.model.*
import hudson.security.*
import jenkins.install.InstallState

def instance = Jenkins.getInstance()

// Disable Setup Wizard
instance.setInstallState(InstallState.INITIAL_SETUP_COMPLETED)

// Set up security
def hudsonRealm = new HudsonPrivateSecurityRealm(false)
def adminUsername = "{{ jenkins_admin_user }}"
def adminPassword = "{{ jenkins_admin_password }}"

// Create the admin user
if (hudsonRealm.getAllUsers().isEmpty()) {
    hudsonRealm.createAccount(adminUsername, adminPassword)
    instance.setSecurityRealm(hudsonRealm)

    def strategy = new GlobalMatrixAuthorizationStrategy()
    strategy.add(Jenkins.ADMINISTER, adminUsername)
    instance.setAuthorizationStrategy(strategy)
}

// Save configuration
instance.save()

